<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/webpage.css' %}">
</head>
<body>
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo">Fininfocom Junior College</div>
                <ul> 
                    <li><a href="/home" >Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/registration">Registration</a></li>
                    <li><a href="/students">Students</a></li>
                </ul>
            </div>     
        </nav>
        <h1 class="info">Best Intermediate <br>College after 10th class</h1>
</body>
</html>